/* CSS HEX */
/*--french-gray: #BEC6D0ff;
--steel-blue: #447BC4ff;
--jordy-blue: #8BB6E3ff;
--moss-green: #738D3Dff;
--vista-blue: #83A3CBff;*/

body{
    background-color:#738D3Dff;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    margin-right:10px;
}
h4{
    text-align:center;
}
h6{
    text-align:center;
}

#navbar-example2{
    border-radius:10px;
}
