/* CSS HEX */
/*--french-gray: #BEC6D0ff;
--steel-blue: #447BC4ff;
--jordy-blue: #8BB6E3ff;
--moss-green: #738D3Dff;
--vista-blue: #83A3CBff;*/
h2{
    font-size:50px;
    color:#9cc5e3;
    font-family: "rocky", serif;
    font-weight: 400;
    font-style: normal;
    margin-right:40px;
    padding-top:40px;
}
h3{
    text-align:center;
    font-size:50px;
    color:white;
    font-family: "rocky", serif;
    font-weight: 400;
    font-style: normal;
}
h4{
    text-align:center;
    font-size:155px;
    color:white;
    font-family: "rocky", serif;
    font-weight: 400;
    font-style: normal;
}
h5{
    text-align:left;
    font-size:50px;
    color:#738D3Dff;
    font-family: "rocky", serif;
    font-weight: 400;
    font-style: normal;
    margin-left:40px;
    padding-top:40px;
}
h6{
    text-align:center;
    font-size:25px;
    color:white;
    font-family: "rocky", serif;
    font-weight: 400;
    font-style: normal;
    border: 2px solid white;
    margin-top:50px;
    margin-bottom:100px;
}

#navbar-example2{
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.btn2{
  color: #fff;
  cursor: pointer;
  display: block;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
  letter-spacing: 0;
}

.homepageback{
    background-image: url(/Imgs/mainpagepic.jpg); 
    /*https://scenicwilddelawareriver.com/entries/grand-cascades-lodge-crystal-springs-resort-hamburg-nj/36afbef2-7d02-4ff5-a533-d27ab4e803e9 */
    background-size:cover;
    background-repeat:no-repeat
}    
.photogallery{
    background-image: url(/Imgs/photogallerypic.png);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center; 
    background-size: cover;
}
img{
  border-radius:none;
}
.card{
    filter: drop-shadow(5px 5px 5px);
    margin-bottom:50px;
}
.upper{
  border:10px solid #534f3d;
}
.itinerarybox{
    background-color:#9cc5e3;
}
.list-container ul{
  display: inline-block; 
  text-align: left; 
  margin-left:15%;
}
.golfpic{
  margin-top:10%;
  margin-bottom:10%;
  border-radius: 500px;
  width:80%;
  height:80%;
}
.poolpic{
  margin-top:10%;
  margin-bottom:10%;
  border-radius: 500px;
  width:80%;
  height:80%;
}
.reviewbox{
  background-color:#879b55;
}
.first{
  justify-content:center;
}
.middle{
  justify-content:center;
}
.right{
  justify-content:center;
}
.footer {
  text-align: center;
  padding: 40px 20px;
  background-image: url(/Imgs/bluefooter.png);
  background-repeat:no-repeat;
  background-position: center; 
  background-size: cover;
}

.logo {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 20px;
}

.footer-nav {
  margin-bottom: 30px;
}

.footer-nav a {
  margin: 0 12px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.bottom {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 15px;
}
footer .copyright {
  font-size: 0.9rem;
  color: black;
  margin-top: 30px;
}