/* CSS HEX */
/*--french-gray: #BEC6D0ff;
--steel-blue: #447BC4ff;
--jordy-blue: #8BB6E3ff;
--moss-green: #738D3Dff;
--vista-blue: #83A3CBff;*/

body{
    background-color:#738D3Dff;
}
#scrollspyHeading1{
    text-align:center;
}